{% extends "base.html" %}
{% block container %}
  <h2>Tickets</h2>
  <div class="well">
    <table id="tickets_data">
      <thead><th>Id</th><th>Title</th><th>Status</th></thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td><a href="/ticket/{{ticket.id}}/">#{{ticket.id}} </td>
            <td><a href="/ticket/{{ticket.id}}/">{{ticket.title}}</a></td>
            <td>{{ ticket.get_status_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>Users</h2>
  <div class="list-group">
    {% for jira_user in users %}
      <a href="/user/{{jira_user.id}}/" class="list-group-item">{{jira_user.first_name}} {{jira_user.last_name}}</a>
    {% endfor %}
  </div>
{% endblock %}


