{% extends "base.html" %}
{% block title %}<title>Modify Ticket</title>{% endblock %}
{% block container %}
    <form method="post" action=".">{% csrf_token %}
      <div class="form-group">
        <label>title</label>
        {{ form.title }}
      </div>
      <div class="form-group">
        <label>Description</label>
        {{ form.description }}
      </div>
      <div class="form-group">
        <label>Category</label>
        {{ form.category }}
      </div>
      <div class="form-group">
        <label>Priority</label>
        {{ form.priority }}
      </div>
      <div class="form-group">
        <label>Assignee</label>
        {{ form.assignee }}
      </div>
      <div class="form-group">
        <label>Start Date</label>
        {{ form.start_date }}
      </div>
      <div class="form-group">
        <label>End Date</label>
        {{ form.end_date }}
      </div>
      <input class="btn btn-default" type="submit" value="Modify"/>
    </form>
{% endblock %}
